<video id="videobcg" preload="auto" autoplay="autoplay" loop="loop"  [muted]="'muted'">
  <source src="assets/video/rollin-safari.mp4" type="video/mp4">
  Sorry, your browser does not support HTML5 video.
</video>
<div class="main-div">
  <mat-card class="card">
    <mat-card-title>
      Contact details 📞
    </mat-card-title>
    <mat-card-content>
      <mat-list>
        <mat-list-item>Address : Relevant Street, N#3</mat-list-item>
        <mat-list-item>Email : openpaws@relevantemail.com</mat-list-item>
        <mat-list-item>Phone : 0221929238384</mat-list-item>
        <mat-list-item>Fax : 0221929238384</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>


  <mat-card class="card">
    <mat-card-content>
      <mat-card-title>
          <span>Send us an email ! 📨</span>
      </mat-card-title>

      <form [formGroup]="formGroup" class="uploadForm" (submit)="onSubmit()">
        <mat-form-field appearance="fill" >
          <mat-label>Your Email</mat-label>
          <input matInput [formControl]="senderEmail" required>
          <mat-error *ngIf="senderEmail.invalid">You must specify your email!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" >
          <mat-label>Subject</mat-label>
          <input matInput [formControl]="subject" required>
          <mat-error *ngIf="subject.invalid">The subject is required!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" >
          <mat-label>Message</mat-label>
          <input matInput [formControl]="message" required>
          <mat-error *ngIf="message.invalid">The message is required!</mat-error>
        </mat-form-field>

        <button type="submit" mat-button [disabled]="!formGroup.valid">Submit</button>




      </form>

    </mat-card-content>
  </mat-card>
</div>
