/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
mat-drawer-content.mat-drawer-content{
  overflow: hidden;
}


body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;

}
a{
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #673ab7;
}


.example-spacer {
  flex: 1 1 auto;
}
